 /* DOM First task */

 ol {
     background-color: #b3e6c1;

     display: block;
     text-align: center;
     width: 30%;
     height: 100%;
     font-size: 20px;
     font-weight: 900;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     padding: 20px;
     margin: 30px;
 }

 .color {
     color: blue;
     background-color: yellow;
 }

 /* DOM Second task */
 button {
     width: 200px;
     height: 40px;
     margin: 10px;
     font-size: 18px;
     font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     text-align: center;
     align-items: center;
     background-color: #e6d0b3;
     color: #b9b3e6;
 }

 body button {
     display: inline-block;
 }